/*
	-Karandeep Singh (1/22/2015)
*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

/* Main container */
.shapejs-container{
	position: relative;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	-webkit-user-select: none;
}


.shapejs-container ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.shapejs-container hr {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin: 13px 0;
}

/*Toolbar*/

.shapejs-toolbar{
	height: 28px;
	background-color: #444;
	color:#eee;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.shapejs-toolbar > li{
	padding: 0px 10px;
	display: inline-block;
	cursor: pointer;
	line-height: 28px;
}

.shapejs-toolbar > li:hover{
	background-color: #777;
	/*position: relative;*/
}

.shapejs-toolbar > li > ul{
	padding: 5px 10px;
	background-color: #eee;
	border: 1px solid #aaa;
	border-top: 0px;
	position: absolute;
	top: 28px;
	/*left: 0px;*/
	display: none;
	z-index: 9999999;
	min-height: 10px;
	/*min-width: 50px;*/
}

.shapejs-toolbar > li:hover > ul{
	display: block;
}

.shapejs-toolbar > li > ul:hover{
	display: block;
}

.shapejs-toolbar > li:hover > ul > li{
	color: #444;
	padding: 0px 17px;
	line-height: 25px;
}

.shapejs-toolbar > li:hover > ul > li:hover{
	background-color: #C7C7C7;
}

.shapejs-toolbar .shapejs-short-cut{
	margin-left: 30px;
	float: right;
}


/*Toolbox*/
.shapejs-toolbox{
	color: #3F3F3F;
	padding: 4px !important;
	margin: 5px 0px !important;
	position: absolute;
	border: 1px solid;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 999999;
	background-color: #eee;
	text-align: center;
}

.shapejs-toolbox > li {
	padding: 4px;
	cursor: pointer;
	border: 1px solid #EEE;
	position: relative;
	line-height: 20px;
}

.shapejs-toolbox > li:hover {
	border: 1px solid #ccc;
}

.shapejs-toolbox > li > ul {
	padding: 5px 5px;
	background-color: #EEE;
	border: 1px solid #AAA;
	position: absolute;
	display: none;
	z-index: 9999999;
	left: 100%;
	top: 0px;
	width: 80px;
}

.shapejs-toolbox > li > ul > li{
	padding: 4px;
	cursor: pointer;
	border: 1px solid #EEE;
	float: left;
}

.shapejs-toolbox > li > ul > li:hover{
	border: 1px solid #ccc;
}



/*Sub Toolbar*/
.shapejs-sub-toolbar{
	padding-left: 50px !important;
	background-color: #f5f5f5;
	min-height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}

.shapejs-sub-toolbar > li{
	border-right: 2px solid #ccc;
	display: inline-block;
}

.shapejs-sub-toolbar > li > a{
	padding: 5px;
	margin: 0px 2px;
	border: 1px solid #f5f5f5;
}

.shapejs-sub-toolbar > li > a:hover{
	border: 1px solid #ccc;
}

.shapejs-sub-toolbar > li > a:active{
	background-color: #CCC;
	border: 1px solid #ccc;
}


/* canvas */

.shapejs-canvas-container{
	width: 100%;
	background-color: #F5F5F5;
	padding: 40px;
}

.canvas-container{
	border: 1px solid #ccc;
}

.shapejs-button-active {
	background-color: #B8B8B8;
	border: 1px solid #949494;
	margin: -1px;
}


/*font-awesome css*/
.fa-rotate-45 {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}