/*
	-Karandeep Singh (1/22/2015)
*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

.shapejs-container{
	position: relative;
}

.shapejs-toolbar{
	height: 28px;
	background-color: #444;
	color:#eee;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.shapejs-toolbar > .shapejs-toolbar-actions{
	padding: 0px 10px;
	display: inline-block;
	cursor: pointer;
	line-height: 28px;
}

.shapejs-toolbar > .shapejs-toolbar-actions:hover{
	background-color: #777;
	/*position: relative;*/
}

.shapejs-toolbar > .shapejs-toolbar-actions > ul{
	padding: 5px 10px;
	background-color: #eee;
	border: 1px solid #aaa;
	border-top: 0px;
	position: absolute;
	top: 28px;
	/*left: 0px;*/
	display: none;
	z-index: 9999999;
	min-height: 10px;
	/*min-width: 50px;*/
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.shapejs-toolbar > .shapejs-toolbar-actions:hover > ul{
	display: block;
}

.shapejs-toolbar > .shapejs-toolbar-actions > ul:hover{
	display: block;
}

.shapejs-toolbar > .shapejs-toolbar-actions:hover > ul > li{
	color: #444;
	padding: 0px 17px;
}

.shapejs-toolbar > .shapejs-toolbar-actions:hover > ul > li:hover{
	background-color: #C7C7C7;
}

.shapejs-toolbox{

}

.shapejs-sub-toolbar{

}

.shapejs-canvas-container{
	position: absolute;;
	left: 0px;
	top: 28px;
}

.shapejs-short-cut{
	margin-left: 30px;
	float: right;
}